<div class="container2">
    <div class="mensajes">
        <p>Usuario: Martin</p>
        <textarea name="martin" id="martinarea" class="form-control"></textarea>
        <button type="button" class="btn btn-primary" (click)="nuevoMensaje('Martin')">Guardar</button>
    </div>
    <div class="mensajes">
        <p>Usuario: Franco</p>
        <textarea name="franco" id="francoarea" class="form-control"></textarea>
        <button type="button" class="btn btn-primary" (click)="nuevoMensaje('Franco')">Guardar</button>
    </div>
</div>
